@model IEnumerable<Infrastructure.Models.Producto>

@{
    ViewBag.Title = "Listado de Productos";
}

<!DOCTYPE html>
<div class="jumbotron">
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        <p>
            @Html.ActionLink("Nuevo", "Create")
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Marca.descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.precioUnitario)
                    </th>
                    @*Falta if cantiNum o cantidadPeso*@
                    <th>
                        @Html.DisplayNameFor(model => model.cantidadNum)
                    </th>
                    @*
                        <th>
                            @Html.DisplayNameFor(model => model.cantidadPeso)
                        </th>
                    *@
                    <th>
                        @Html.DisplayNameFor(model => model.imagen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.estado)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precioUnitario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantidadNum)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.cantidadPeso)
                            </td>*@
                        <td>
                            <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.imagen)" alt="Imagen @Html.DisplayFor(modelItem => item.nombre)" class="img-thumbnail" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>
</div>